<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ '/images/losalerces.png' | url }}" type="image/x-icon">
    {% set css %}
        {% include "../css/fonts.css" %}
        {% include "../css/styles.css" %}
    {% endset %}
    <style>
    {{ css | cssmin | safe }}
    </style>
    <title>{{ title }}</title>
</head>
<body>
<header>
<div class="logo">
    <a href="/"><img src="{{ '/images/logo-cinta.webp' | url }}" alt="Los Alerces" srcset="{{ '/images/logo-cinta.webp' | url }}"></a>
</div>
<div class="header-menu">
    <div class="top-header">
        <div class="cta-1">
            <a href="http://92.204.134.108/AGP/pages/login.faces" rel="noopener noreferrer" target="_blank">
                <img src="{{'/images/calendar.svg'|url}}" style="height: 48px; padding: 0; margin: 0" alt="">
                <span>Reservá tu turno de forma virtual</span>
            </a>
        </div>
            <img src="{{ '/images/instagram.webp' | url }}" alt="Instagram">
            <img src="{{ '/images/whatsapp.webp' | url }}" alt="Whatsapp">
    </div>
    <div>
        <nav>
            <ul>
                <li><a href="/copia-de-laboratorio">TRIAGE COVID-19</a></li>
                <li>SERVICIOS MÉDICOS</li>
                <li>ACERCA DE NOSOTROS</li>
                <li>CONTACTO</li>
            </ul>
        </nav>
    </div>
</div>

</header>
    <main id="root" class="transition-fade">{{ content | safe }}</main>
    <footer>
        <div class="separator">
        </div>
        <div class="contact-info">
            <div class="container">
                <div class="address p-3">
                Domeq García Norte 692, CP 9120. Puerto Madryn, Chubut
                </div>
                <div class="phone p-3">
                Tel: 2804-601048
                </div>
            </div>
        </div>
    </footer>
    <script src="{{ '/vendor/swup.min.js' | url }}"></script>
    <script>
        const swup = new Swup({ containers: ["#root"], });
    </script>
    <script src="{{ '/js/jquery-3.6.0.min.js' | url }}"></script>
    <script src="{{ '/js/scripts.js' | url }}"></script>
</body>
</html>