<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/losalerces.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <title>{{ title }}</title>
</head>
<body>
<header>
<div class="logo">
    <a href="/"><img src="/images/logo-cinta.webp" alt="Los Alerces" srcset="/images/logo-cinta.webp"></a>
</div>
<div class="header-menu">
    <div class="top-header">
        <div class="cta-1">
            <a href="http://92.204.134.108/AGP/pages/login.faces" rel="noopener noreferrer" target="_blank">
                <img src="/images/calendar.svg" style="height: 48px; padding: 0; margin: 0" alt="">
                <span>Reservá tu turno de forma virtual</span>
            </a>
        </div>
            <img src="/images/instagram.webp" alt="Instagram">
            <img src="/images/whatsapp.webp" alt="Whatsapp">
    </div>
    <div>
        <nav>
            <ul>
                <li><a href="/copia-de-laboratorio">TRIAGE COVID-19</a></li>
                <li>SERVICIOS MÉDICOS</li>
                <li>ACERCA DE NOSOTROS</li>
                <li>CONTACTO</li>
            </ul>
        </nav>
    </div>
</div>

</header>
    <main id="root" class="transition-fade">{{ content | safe }}</main>
    <script src="{{ '/vendor/swup.min.js' | url }}"></script>
    <script>
        const swup = new Swup({ containers: ["#root"], });
    </script>
</body>
</html>