--- 
layout: "base.njk" 
---
<section class="banner">
  <div class="banner-static"></div>

</div>
</section>
<section class="hero">
<h2>- 19 de Octubre -</h2>
<p class="hero-subtitle">DÍA MUNDIAL CONTRA EL CÁNCER DE MAMA</p>
<video controls="controls" autoplay="autoplay" loop muted="muted" width="911">
  <source src="{{'/images/file.mp4' | url}}">
</video>
</section>
<section class="services">
<p class="title" style="margin-bottom: 70px">Excelencia para tu salud</p>
<div style="width: 944px; display: flex; justify-content: space-between; margin: 0 auto;">
  <div style="width: 290px; display: flex; align-items: center; flex-direction: column">
    <div style="width: 77px; height: 77px; border-radius: 100%; background-color: #577b80; display:flex; justify-content: center; align-items: center">
      <img src="{{'/images/dialog.svg'|url}}" style="width: 46px" alt="">
    </div>
    <p style="font-size: 22px; color: #577b80;">Planes médicos</p>
    <p style="color: rgb(142,141,145); font-size: 15px; margin-bottom: 30px">Acá podrá encontrar algunos de los planes médicos asociados al servicio de cirugía ambulatoria</p>
    <a href="#" style="color: #577b80; font-size: 15px; text-decoration: none">> Más info</a>
  </div>
  <div style="width: 290px; display: flex; align-items: center; flex-direction: column">
    <div style="width: 77px; height: 77px; border-radius: 100%; background-color: #577b80; display:flex; justify-content: center; align-items: center">
      <img src="{{'/images/user.svg'|url}}" style="width: 34px" alt="">
    </div>
    <p style="font-size: 22px; color: #577b80;">Planes médicos</p>
    <p style="color: rgb(142,141,145); font-size: 15px; margin-bottom: 30px">Acá podrá encontrar algunos de los planes médicos asociados al servicio de cirugía ambulatoria</p>
    <a href="#" style="color: #577b80; font-size: 15px; text-decoration: none">> Más info</a>
  </div>
  <div style="width: 290px; display: flex; align-items: center; flex-direction: column">
    <div style="width: 77px; height: 77px; border-radius: 100%; background-color: #577b80; display:flex; justify-content: center; align-items: center">
      <img src="{{'/images/stethoscope.svg'|url}}" style="width: 30px" alt="">
    </div>
    <p style="font-size: 22px; color: #577b80;">Planes médicos</p>
    <p style="color: rgb(142,141,145); font-size: 15px; margin-bottom: 30px">Acá podrá encontrar algunos de los planes médicos asociados al servicio de cirugía ambulatoria</p>
    <a href="#" style="color: #577b80; font-size: 15px; text-decoration: none">> Más info</a>
  </div>
</div>
</section>
<section class="info">
<div style="width: 745px">
  <img src="{{ '/images/nos-cuidamos-entre-todos.webp' | url }}" alt="Nos cuidamos entre todos" class="pt-3">
  <img src="{{ '/images/buenas-noticias.png' | url }}" alt="Buenas noticias" class="pt-3 pb-3">
</div>
</section>
<section class="mt-3 mb-3">
  <div style="display:flex; justify-content: end; width: 980px; margin: 0 auto;">
    <div class="label">
      <a href="#">Lea atentamente el protocolo de triage COVID-19 previamente a la solicitud de turno</a>
    </div>
  </div>
  <div class="cta-2">
    <div class="cta-2-link p-3">
      <a href="http://92.204.134.108/AGP/pages/login.faces" rel="noopener noreferrer" target="_blank">
        <img src="{{ '/images/calendar.svg' | url }}" alt="Reservá tu turno">
        <div>Reservá tu turno de forma virtual</div>
      </a>
    </div>
  </div>
</section>
<section class="blocks">
<div><img src="/images/laboratorio.webp" alt="B&G Lab"></div>
  <div style="width: 980px; display:flex; margin: 30px auto;">
    <div class="block bg-1">
      <a href="/laboratorio">Análisis clínicos</a>
    </div>
    <div class="block bg-1">
      <a href="/laboratorio"><img src="/images/analisis-1.webp" alt="Análisis clínicos"></a>
    </div>
    <div class="block bg-2">
      <a href="/laboratorio">Control de embarazo</a>
    </div>
    <div class="block bg-1">
      <a href="/laboratorio"><img src="/images/analisis-2.webp" alt="Análisis clínicos"></a>
    </div>
    <div class="block bg-3">
      <a href="/laboratorio">Análisis veterinario</a>
    </div>
  </div>
</section>