--- 
layout: "base.njk" 
---
<section class="banner">
  <div class="banner-static"></div>

</div>
</section>
<section class="hero">
<h2>- 19 de Octubre -</h2>
<p class="hero-subtitle">DÍA MUNDIAL CONTRA EL CÁNCER DE MAMA</p>
<video controls="controls" autoplay="autoplay" muted="muted" width="911">
  <source src="/images/file.mp4">
</video>
</section>
<section class="services">
<p class="title" style="margin-bottom: 70px">Excelencia para tu salud</p>
<div style="width: 944px; display: flex; justify-content: space-between; margin: 0 auto;">
  <div style="width: 290px; display: flex; align-items: center; flex-direction: column">
    <div style="width: 77px; height: 77px; border-radius: 100%; background-color: #577b80; display:flex; justify-content: center; align-items: center">
      <img src="/images/dialog.svg" style="width: 46px" alt="">
    </div>
    <p style="font-size: 22px; color: #577b80;">Planes médicos</p>
    <p style="color: rgb(142,141,145); font-size: 15px; margin-bottom: 30px">Acá podrá encontrar algunos de los planes médicos asociados al servicio de cirugía ambulatoria</p>
    <a href="#" style="color: #577b80; font-size: 15px; text-decoration: none">> Más info</a>
  </div>
  <div style="width: 290px; display: flex; align-items: center; flex-direction: column">
    <div style="width: 77px; height: 77px; border-radius: 100%; background-color: #577b80; display:flex; justify-content: center; align-items: center">
      <img src="/images/user.svg" style="width: 34px" alt="">
    </div>
    <p style="font-size: 22px; color: #577b80;">Planes médicos</p>
    <p style="color: rgb(142,141,145); font-size: 15px; margin-bottom: 30px">Acá podrá encontrar algunos de los planes médicos asociados al servicio de cirugía ambulatoria</p>
    <a href="#" style="color: #577b80; font-size: 15px; text-decoration: none">> Más info</a>
  </div>
  <div style="width: 290px; display: flex; align-items: center; flex-direction: column">
    <div style="width: 77px; height: 77px; border-radius: 100%; background-color: #577b80; display:flex; justify-content: center; align-items: center">
      <img src="/images/stethoscope.svg" style="width: 30px" alt="">
    </div>
    <p style="font-size: 22px; color: #577b80;">Planes médicos</p>
    <p style="color: rgb(142,141,145); font-size: 15px; margin-bottom: 30px">Acá podrá encontrar algunos de los planes médicos asociados al servicio de cirugía ambulatoria</p>
    <a href="#" style="color: #577b80; font-size: 15px; text-decoration: none">> Más info</a>
  </div>
</div>
</section>